/*通用*/

* {
	margin: 0;
	padding: 0;
	overflow: auto;
}

/*清除滚动条*/
::-webkit-scrollbar {
	display: none;
}
html,
body {
	height: 100%;
	background-color: #FDF0CC;
	font-family: "微软雅黑";
}

div {
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

/*公共圆角*/
.component,
.preview,
.param,
.main .item,
.basic,
.advance,
.code,
.command{
	border-radius: 1em;
}
/*公共flex*/
#container,
.tab,
.common,
.form,
.tools,
.param,
.command,
.menu .item{
	display: flex ;
}

/*主容器*/

#container {
	justify-content: center;
	align-items: center;
	height: 100%;
}


/*三个分支*/
.component{
	display: none;
}
.preview{
	/*display: none;*/
}
.param{
	/*display: none;*/
}
.component,
.preview,
.param {
	height: 700px;
	border: solid 2px gray;
	/*border-radius: 20px;*/
	margin: 0 20px;
	border-radius: 1em;
}

.component,
.param {
	width: 350px;
	min-width: 350px;
	overflow: hidden;
}

.preview {
	width: 800px;
	min-width: 800px;
}

/*-------------------component---------------------*/

.tab,
.common,
.form,
.tools {
	width: 330px;
	margin: 0 auto;
}

.tab{
	justify-content: space-around;
	align-items: center;
	height: 30px;
	margin-top: 60px;
}

.tab_item {
	height: 30px;
	width: 80px;
	text-align: center;
	color: gray;
}

.tab_item:hover, .tab_item.active{
	color: rgb(60,122,3);
}


/*滑动块*/

.slider {
	height: 3px;
	background-color: gray;
	width: 80px;
	margin-left: 25px;
}


/*功能容器*/

.main {
	width: 1050px;
	overflow: hidden;
}


/*功能视图*/

.common,
.form,
.tools {
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	float: left;
	margin: 30px 10px 0 10px;
}

.main .item{
	width: 90px;
	height: 90px;
	text-align: center;
	line-height: 90px;
	color: darkslategray;
	border: 2px solid gray;
	margin-top: 20px;
}

.component {
	/*display:none;*/
}

/*-------------------preview---------------------*/
.preview {
	position: relative;
	perspective: 1000;
    transform-style: preserve-3d;
}

.front, .back {
	height: 100%;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
    backface-visibility: hidden;
    transition: 1s;
    position: absolute;
    top: 0px;
    left: 0px;
}

.front {
    z-index: 2;
}
.back {
    transform: rotateY(180deg);
}

div.default{
	width: 400px;
	height:300px;
	border: 2px solid gray;
	/*line-height: 200px;*/
	/*text-align: center;*/
	cursor: move;
	background-color: #FFF; 
	border: 1px solid #CCCCCC;  
	position: absolute;
}
.coor{
	width: 10px;
	height: 10px; 
	overflow: hidden; 
	cursor: se-resize; 
	position: absolute; 
	right: 0; 
	bottom: 0; 
	background-color: #09C;
}
.code{
	height: 65%;
	outline: none !important;
}
.code,.command{
	padding: 25px;
	/*background: #f6f6f6;*/
	color:darkslategray;
	border: 2px solid gray;
}
code{
	font-family:"microsoft yahei";
}

.command{
	height: 15%;
	margin-top: 20px;
	justify-content: space-around;
	align-items: center;
	
}
button{
	width: 100px;
	height: 50px;
	/*display:block;*/
	background-color: inherit;
	color: gray;
}
button:hover{
	background-color: #FDF5E0;
}
button:active{
	background-color: #FDE5A3;
}
button,input{
	font: 15px 微软雅黑;
	box-sizing: border-box;
	outline: none;
	border-radius: 1em;
	border:2px solid gray;
	padding: 5px;
}
.default{
	position: absolute;
}
input{
	background-color: #FDF5E0;
	color: rgb(60,122,3);
	text-indent: 15px;
	height: 30px;
}
.command_input{
	width: 400px;
	height: 50px;
	
}
@keyframes shake
{
	from {
		/*border:none;*/
		box-shadow: 0px 0px 5px blueviolet;
	}
	to {
		/*border:none;*/
		box-shadow: 0px 0px 20px blueviolet;
	}
}
.default.active{
	animation:shake 1.5s linear infinite alternate;
}

/*-------------------param---------------------*/

.param,.menu .item{
	flex-direction: column;
	box-sizing: border-box;
}
.param{
	align-items: center;
}
.basic,
.advance {
	border: 2px solid gray;
	padding: 15px 10px;
	box-sizing: border-box;
	width: 290px;
}

.basic {
	height: 35%;
	margin: 30px;
}

.advance {
	height: 50%;
}

.menu{
	padding: 5px;
	text-indent: 5px;
	color: darkslategray;
	border-radius: 7px;
}

.menu:hover{
	background-color: gray;
	color: whitesmoke;
}

.menu>select,
.menu>input {
	display: block;
	float: right;
}

.menu>select {
	display: block;
	background: white;
	color: gray;
	width: 100px;
	font-size: 16px;
	border: 2px solid gray;
	appearance:none;
  	outline: none;
}
.fold{
	height: 100%;
}
.menu.item{
	/*display: none;*/
	justify-content: space-around;
	align-items: flex-end;
}
.menu.item>input,.menu.item>select{
	margin: 5px;
}
select{
	-webkit-appearance:none; /* Safari 和 Chrome */
    appearance:none;
}
option{
	background-color: #FDF0CC;
	color: gray;
	-webkit-appearance:none; /* Safari 和 Chrome */
    appearance:none;
}
option:hover{
	background-color: gray;
	color:white;
	-webkit-appearance:none;
}
